# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore any files in the temp folder
temp/

# Ignore system files (e.g., macOS specific)
.DS_Store
